p{
  color: brown;
  font-size:40px;
}
h1{
  color: green;
  font-size:70px;
  text-align: center;
}
.horseimg{
  display: inline-block;
  width: 45%;
}
.firstus{
  display: inline-block;
  width: 45%;
}
img{
  width: 100%;
  height: auto;
}
