p{
  color: brown;
  font-size:40px;
}
h1{
  color: green;
  font-size:70px;
  text-align: center;
}
.horseimg{
  display: inline-block;
  width: 500px;
}
.firstus{
  display: inline-block;
  width: 500px;
}
